[Desktop Entry]
Name=Space Cadet Pinball
Exec=/usr/bin/SpaceCadetPinball --notray
Terminal=false
Type=Application
Icon=/usr/share/icons/silverball.png
Comment=Space Cadet Pinball
Categories=Game;

