[Desktop Entry]
Name=Space Cadet Pinball
Exec=/usr/bin/SpaceCadetPinball --notray
Terminal=false
Type=Application
Icon=/usr/ahare/icons/pinball.ico
Comment=Space Cadet Pinball
Categories=Game;

